a:link {
  color: #F00;
  text-decoration: none;
}

a:visited {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: #00F;
  text-decoration: underline;
}

a:active {
  color: #0FF;
  text-decoration: underline;
}
