:root {
  --blau: #1F4E8C;
  --grau: #3D3F45;
  --standard-rahmen: 5px solid #A62C21;
  --primaere-schriftart: Arial;
  --sekundaere-schriftart: Verdana;
  --breakpoint-1: 1024px;
}

body {
  font-family: var(--primaere-schriftart, --sekundaere-schriftart, sans-serif);
}

#div-1 {
  background-color: var(--blau);
  border: var(--standard-rahmen);
}

#div-2 {
  --rosa: #FFC0CB;
  background-color: var(--grau);
}

@media (max-width: 1024px) {
  #div-1 {
    background-color: var(--grau);
    border: var(--standard-rahmen);
  }

  #div-2 {
    background-color: var(--rosa);
  }
}
