div {
  height: 200px;
  width: 200px;
  border: 2px solid grey;
  margin-bottom: 2rem;
  cursor: pointer;
}

#play {
  background: url("Sprite_Play_und_Pause.png") 0 0;
}

#play:hover {
  background: url("Sprite_Play_und_Pause.png") -200px 0;
}

#pause {
  background: url("Sprite_Play_und_Pause.png") 0 -200px;
}

#pause:hover {
  background: url("Sprite_Play_und_Pause.png") -200px -200px;
}
