div {
  width: 200px;
  height: 200px;
  background-color: grey;
  margin-bottom: 2rem;
}

/* box-shadow: x-versatz y-versatz Weichzeichnung Vergrößerung Farbe (inset) */

#test01 {
  box-shadow: 5px 5px red;
}

#test02 {
  box-shadow: 5px 5px 20px red;
}

#test03 {
  box-shadow: 0 0 0 10px red;
}

#test04 {
  box-shadow: 0 0 20px 10px green inset;
}

#test05 {
  box-shadow: 5px 5px 20px red, 0 0 20px 10px green inset;
}
