body {
  font-family: 'Times New Roman', Verdana, sans-serif;
  font-size: 30px;
}

#test1 {
  font-family: serif;
}

#test2 {
  font-family: sans-serif;
}

#test3 {
  font-family: cursive;
}

#test4 {
  font-family: fantasy;
}

#test5 {
  font-family: monospace;
}
