#test01, #test02 {
  background-color: grey;
  width: 600px;
  padding: 4rem;
  margin: 10rem;
}

#test01 {
  transform: skewX(45deg);
}

#test02 {
  transform: rotateZ(45deg);
}

#test01 > p {
  transform: skewX(-45deg);
}
