/* FARBEN
Blau:         #1F4E8C
Dunkel Grau:  #3D3F45
Hell Grau:    #E5E5E5
Rot:          #A62C21
*/

body {
  margin: 0;
  font-family: "Raleway", "Lato", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* NAVIGATIONSLEISTE */

.header-nav {
  width: 100%;
  height: 50px;
  background-color: #3D3F45;
  position: relative;
  font-weight: bold;
  font-size: 1.1rem;
}

.header-nav > a > img {
  height: 30px;
  width: auto;
  position: absolute;
  left: 2rem;
  top: .55rem;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  height: 100%;
}

.header-nav > ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 .4rem 0 .4rem;
}

.header-nav > ul > li > a {
  margin-top: .8rem;
  display: inline-block;
}

.header-nav > ul > li > a:link {
  color: #FFF;
  text-decoration: none;
}

.header-nav > ul > li > a:visited {
  color: #FFF;
  text-decoration: none;
}

.header-nav > ul > li > a:hover {
  color: #E5E5E5;
  text-decoration: none;
}

.header-nav > ul > li > a:active {
  color: #E5E5E5;
  text-decoration: none;
}

.active {
  background-color: #A62C21;
}

/* HEADER-BANNER */

.header-banner {
  background: url("../img/hintergrund.jpg") no-repeat;
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background-size: contain;
}
/*
  Erklärung für padding-top:
  1920px x 400px
  1000px x ????
  Wie viel % von 1920px sind 400px?
  400px / 1920px * 100 = 20.83%
*/

.header-banner-klein {
  background: url("../img/hintergrund-klein.jpg") no-repeat;
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background-size: contain;
}

/* GRID-SYSTEM (SICHTBARKEIT) */

.border, .border * {
  border: 1px solid #91C4FF;
}

[class*="col-"] {
  background-color: #BFDDFF;
}

p {
  background-color: #91C4FF;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
}

/* GRID-SYSTEM */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: .8rem;
}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%; }
.col-6 { width: 100%; }
